node_modules
.idea
.editorconfig
npm-debug.log
.vscode
.history
static/*
./app*/*
dist/
Picaro/Dist/*
Picaro/Views/webpackBundles.pug
Picaro/mochawesome.json
Picaro/Tests/css/*
Picaro/Tests/js/*
Picaro/Tests/index.html
Picaro/Tests/jest-results.json
picaroSettings.json

coverage
Picaro/Data
Picaro/DataCi
Picaro/Back/picaro-back.json
Picaro/Back/uploads

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
