node_modules
.idea
.editorconfig
npm-debug.log
.vscode
.history
rougeSettings.json
static/*
rfData*
app*/*
App/Tests/Cypress/videos/*
App/mochawesome.json
App/Tests/css/*
App/Tests/js/*
App/Tests/index.html
App/Tests/jest-results.json

App/Tests/Cypress/screenshots/*
coverage
