node_modules
.idea
.editorconfig
npm-debug.log
.vscode
.history
static/*
./app*/*
Picaro/Tests/Cypress/videos/*
dist/
Picaro/Dist/*
Picaro/Views/webpackBundles.pug
Picaro/mochawesome.json
Picaro/Tests/css/*
Picaro/Tests/js/*
Picaro/Tests/index.html
Picaro/Tests/jest-results.json
picaroSettings.json

Picaro/Tests/Cypress/screenshots/*
coverage
Picaro/Data
Picaro/Back/picaro-back.json
Picaro/Back/uploads
