{
  "sessionSecret": "secret",
  "defaultApp": "Demo",
  "warningTimeout": 10000,
  "applications": {
    "Demo": {
      "styleSet": "default",
      "language": "en",
      "title": "RF demo app",
      "devMode": true
    }
  },
  "googleFontKey": ""
