{
    "defaultApp": "Demo",
    "applications": {
        "Demo": {
            "applicationName": "demo",
            "language": "fr",
            "title": "Mon Application"
        }
    },
    "googleFontKey": ""
}