
extends ../../../App/Views/rougeHead.pug
block  head
    if environment === 'production'
        link(rel='stylesheet', href='/appDemo.css')
    else
        script var ENVIRONMENT = "development";
    script(src="/appDemo-bundle.js")


block body
    div(id="rf-content-container")
        block content
