extends ../../../App/Views/rougeHead.pug
block  head
    if environment === 'production'
        link(rel='stylesheet', href='/static/appDemo.css')
    else
        script var ENVIRONMENT = "development";
    script(src="/static/appDemo-bundle.js")


block body
    div(class="rf-content-container")

        rf-nav
        block content
