
extends ../../../App/Views/rougeHead.pug
block  head
  link(rel="stylesheet" type="text/css" href="/static/demo/styles.css")
  script(src="/static/bundle.js" type="text/javascript")

block body
    block content
