extends layout/header.pug
block content
    h1 Mes livres
    rf-list(rf-model="books"  v-slot="{ item }")
        ul
            li {{item.name}} écrit par {{item.author}}

    rf-tags(tag-name="author")
    rf-link(v-slot="{ item }")
        span {{item.title}}
    rf-tags(tag-name="job")
