extends layout/header.pug
block head
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@100;400;900&display=swap" rel="stylesheet")
block content
    color-generator-demo
