extends layout/header.pug
block content
    h1 Hello
    rf-form(rf-model="testData")

    rf-list(rf-model="testData"  v-slot="{ item }")
        span {{item.firstname}} {{item.lastname}}
    h2 links
        rf-link(v-slot="{ item }")
            span {{item.firstname}} {{item.lastname}}
    h2 tags
        rf-tags-list
