
div
    v-toolbar(color="rgb(47, 70, 116)" dark) Admin Settings
    div(class="px-5 py-5")
        warning-component( :warning-message="warningMessage")
        v-form(action="/appapi/settings/?_method=PUT"  id="_admin-form" method="POST" @submit.prevent="saveConfig($event)")
            v-text-field(name="navStructureString" v-model="navStructureString" dense)
            v-text-field(name="id" v-model="settings.id" dense)
            v-text-field(name="name" v-model="settings.applicationName" label="App Name" dense outlined)
            v-text-field(name="styleSet" v-model="setName" dense)
            v-text-field(name="language" v-model="settings.language" label="App Language" dense outlined)
            v-text-field(name="title" v-model="settings.title" label="App Title" dense outlined)
            v-text-field(v-model="settings.messageTimeOut" label="Message Timeout (in ms)" dense outlined)
            v-switch(v-model="settings.devMode" label="Dev Mode" dense)
            v-button(@click.prevent="saveConfig($event,true)" id="_admin-form-ext-submit") submit
