div(id="_color" class="_panel" v-if="$store.getters.loaded")
    v-card(class="_container" v-if="panelOpened")
        v-select(label="Combination Presets" :items="colorSetCollection" item-text="name" item-value="combinationCollection" v-model="colorParameterCollection.colorSetParamString" class="css-panel__input" name="colorSetParamCollection"  v-on:change="updatecolorSetParams")
    v-card(class="_container" id="_range-light-container" v-if="panelOpened")
        v-slider(label="Light variation" ticks=true tick-size="3" min="0" max="10" name="variation-light-amt" v-model="variationLightAmt" @input="updateVariationAmt()" )
        v-slider(label="Saturation variation" ticks=true tick-size="3" min="0" max="10" name="variation-sat-amt" v-model="variationSatAmt" @input="updateVariationAmt()" )
    v-expansion-panels
        v-expansion-panel(:style="bgColor(dominantColor)"  v-if="panelOpened")
            v-expansion-panel-header
            v-expansion-panel-content(:style="bgColor(dominantColor)" class="mb-0")
                    v-slider(min="0" max="360" v-model="dominantColor.hue" @input="updateColor()" label="Hue" thumb-label="always" :thumb-color="getStringColor(dominantColor, true)")
                    v-slider(min="0" label="light" max="100" thumb-label="always" @input="updateColor()" v-model="dominantColor.light")
                    v-slider(min="0" max="100"  thumb-label="always" @input="updateColor()"  v-model="dominantColor.saturation")
        v-row(class="px-3")
            v-card(v-for="(subColor, index) in colorCollection.dominantSubCollection" :key="index" :class="{'__main':isMainColor(bgColor(subColor), bgColor(dominantColor))}" v-on:click="storeColorCoordinate(['dominant', index])" class="pa-3" v-bind:style="bgColor(subColor)")
        v-card(v-for="(color, index) in colorCollection.combinationCollection" :key="index")
            v-expansion-panel(v-bind:style="bgColor(color)"  v-if="panelOpened")
                v-expansion-panel-header
                v-expansion-panel-content
                    v-slider(min="0" max="360" v-model="color.hue" label="Hue" thumb-label="always" :thumb-color="getStringColor(color, true)" @input="updateCombinationColor(index, color)")
                    v-slider(label="Light" thumb-label="always" min="0" max="100"  v-model="color.light" @input="updateCombinationColor(index, color)")
                    v-slider(label="Sat." thumb-label="always" min="0" max="100"  v-model="color.saturation" @input="updateCombinationColor(index, color)")
            v-row(class="px-3")
                v-card(v-for="(subColor, subIndex) in color.subCombination" :key="subIndex" v-on:click="storeColorCoordinate([index, subIndex])" v-bind:style="bgColor(subColor)")
            v-card-actions( v-if="panelOpened")
                v-btn(text=true @click="removeColor(index)" class="center") Remove Color
    v-row(class="px-3")
        div(v-for="(subColor, index) in colorCollection.graySubCollection" v-on:click="storeColorCoordinate(['gray', index])")
            v-card(class="pa-3" v-bind:style="bgColor(subColor)")
    v-row(class="px-3")
        div(v-for="(subColor, index) in colorCollection.alertSubCollection" v-on:click="storeColorCoordinate(['alert', index])" class="sub-combination" )
            v-card(v-bind:style="bgColor(subColor)")
    v-row(class="px-3")
        div(v-for="(subColor, index) in colorCollection.warningSubCollection" v-on:click="storeColorCoordinate(['warning', index])" class="sub-combination")
            v-card(v-bind:style="bgColor(subColor)" )
    v-row(class="px-3")
        div(v-for="(subColor, index) in colorCollection.successSubCollection" v-on:click="storeColorCoordinate(['success', index])" class="sub-combination")
            v-card(v-bind:style="bgColor(subColor)")
    v-row(class="px-3")
        div(v-for="(subColor, index) in colorCollection.infoSubCollection" v-on:click="storeColorCoordinate(['info', index])" class="sub-combination" )
            v-card(v-bind:style="bgColor(subColor)")
    v-card-actions
        v-btn(text=true v-on:click="addColor" class="_color-button" v-if="panelOpened") Add Color