/* Application styles : edit at you're own risk :) */

:root {
	--app-ratio: 1.6em;
	--app-ratio-s: 0.8em;
	--app-ratio-xs: 0.4em;
	--app-color: #333;
}
#css-panel {
	box-sizing: border-box;
	width: 300px;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	line-height: 1.3em;
	background-color: #fff;
	background-image: url('/images/paper.png');
	border-left: solid 4px var(--app-color);
	box-shadow: 0px -1px 17px rgba(0, 0, 0, 0.7);
}
#css-panel button {
	width: calc(100% - 2 * var(--app-ratio-s));
	padding: var(--app-ratio-s);
	margin: var(--app-ratio-s);
	background: #fff;
	border: var(--app-color) var(--app-ratio-xs) solid;
	color: var(--app-color);
}
#css-panel fieldset {
	padding: 0;
	border: none;
	margin: 0;
}
#css-panel legend {
	margin: 0;
	border: none;
	color: #fff;
	background-color: var(--app-color);
	width: 100%;
	text-transform: uppercase;
	padding: var(--app-ratio-s);
	position: relative;
}

#css-panel .css-panel__input {
	padding: var(--app-ratio) var(--app-ratio-s) calc(var(--app-ratio) / 4) var(--app-ratio-s);
	width: 100%;
	margin: -1.3em 0 0 0;
	border: none;
	border-top: 1px solid var(--app-color);
}

#css-panel .css-panel__input::after {
	content: '';
	background-image: url('/images/seamless_paper_texture.png');
	opacity: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
}
#css-panel label {
	display: block;
	position: relative;
	z-index: 10;
	text-transform: uppercase;
}
#css-panel .css-panel__label {
	position: relative;
	display: inline-block;
	z-index: 10;
	color: var(--app-color);
	margin: 0 var(--app-ratio-xs);
}

#css-panel-color {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 300px;
	right: 300px;
	background: #fff;
}
