extends ../../../App/Views/rougeHead.pug
block head
    title My Bululu app
    if environment === 'production'
        link(rel='stylesheet', href='/static/appBululu.css')
    else
        script var ENVIRONMENT = "development";
    script(src="/appBululu-bundle.js")
block body
    div(class="rf-content-container")
        rf-nav
        block content
