extends ../../../App/Views/rougeHead.pug
block head
    title My Toto app
    if environment === 'production'
        link(rel='stylesheet', href='/static/appToto.css')
    else
        script var ENVIRONMENT = "development";
    script(src="/appToto-bundle.js")
block body
    div(class="rf-content-container")
        rf-nav
        block content
