html(lang=language)
  head
    title #{title}

    style #{cssProperties}
    link(rel="stylesheet" type="text/css" href="/static/normalize.css")
    link(rel="stylesheet" type="text/css" href="/static/AppStyles.css")
    block head
block body
block cssPanel
    div(id="css-panel")
        form(action="/admin/settings" method="POST")

            input(type="text" name="config-name" value="#{configName}")
            input(type="number" v-model="fontSize" name="font-size" v-on:change="updateCssProperty")
            select( v-model="selectedGoogleFont"  name="font-family" v-on:change="updateCssFont")
                option Selectionner une font
                option(v-for="font in googleFonts" v-bind:value="font.family") {{font.family}}
            button Enregistrer
            button Enregistrer une nouvelle configuration
