html(lang=language)
  head
    title #{title}
    script(src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js")

    style #{cssProperties}
    script(src="/bundle.js")
    link(rel="stylesheet" type="text/css" href="/static/normalize.css")
    link(rel="stylesheet" type="text/css" href="/static/AppStyles.css")
    block head
block body
block cssPanel
    div(id="css-panel")
        input(type="number" v-model="fontSize" v-on:change="updateCssProperty")
        select
