html(lang=language)
  head
    title #{title}

    style #{cssProperties}
    link(rel="stylesheet" type="text/css" href="/normalize.css")

    script(src="/app-bundle.js")

    block head
block body
block cssPanel
    div(id="css-panel")
        form(action="/admin/settings" method="POST")

            fieldset
                legend Fonts
                label
                    div(class="css-panel__label") Font size (px)
                    input(type="number" v-model="fontSize"  class="css-panel__input" name="font-size" v-on:change="updateCssProperty")
                label
                    div(class="css-panel__label") Main Font
                    select( v-model="selectedGoogleFont.main"  class="css-panel__input" name="font-family" v-on:change="updateCssFont('main')")
                        option Selectionner une font
                        option(v-for="font in googleFonts" v-bind:value="font.family") {{font.family}}
                label
                    div(class="css-panel__label") Alternative Font
                    select( v-model="selectedGoogleFont.alt" class="css-panel__input" name="font-family" v-on:change="updateCssFont('alt')")
                        option Selectionner une font
                        option(v-for="font in googleFonts" v-bind:value="font.family") {{font.family}}
                label
                    div(class="css-panel__label") Title Font
                    select( v-model="selectedGoogleFont.title" class="css-panel__input"  name="font-family" v-on:change="updateCssFont('title')")
                        option Selectionner une font
                        option(v-for="font in googleFonts" v-bind:value="font.family") {{font.family}}
                label
                    div(class="css-panel__label") Altenative Title Font
                    select( v-model="selectedGoogleFont.tilteAlt" class="css-panel__input" name="font-family" v-on:change="updateCssFont")
                        option Selectionner une font
                        option(v-for="font in googleFonts" v-bind:value="font.family") {{font.family}}
            fieldset
                legend Save
                label
                    div(class="css-panel__label") Config name
                    input(type="text" class="css-panel__input" name="config-name" value=configName)
                button Enregistrer
                button Enregistrer une nouvelle configuration
