script(src="../Dist/runtime-bundle.js" defer)
script(src="../Dist/npm.vuetify-bundle.js" defer)
script(src="../Dist/npm.core-js-bundle.js" defer)
script(src="../Dist/npm.popperjs-bundle.js" defer)
script(src="../Dist/npm.axios-bundle.js" defer)
script(src="../Dist/npm.tiptap-bundle.js" defer)
script(src="../Dist/npm.style-loader-bundle.js" defer)
script(src="../Dist/npm.vuelidate-bundle.js" defer)
script(src="../Dist/npm.vue-style-loader-bundle.js" defer)
script(src="../Dist/npm.linkifyjs-bundle.js" defer)
script(src="../Dist/npm.css-loader-bundle.js" defer)
script(src="../Dist/npm.rougefw-bundle.js" defer)
script(src="../Dist/npm.w3c-keyname-bundle.js" defer)
script(src="../Dist/npm.vuex-bundle.js" defer)
script(src="../Dist/npm.vue-bundle.js" defer)
script(src="../Dist/npm.vue-router-bundle.js" defer)
script(src="../Dist/npm.vue-loader-bundle.js" defer)
script(src="../Dist/npm.tippy.js-bundle.js" defer)
script(src="../Dist/npm.rope-sequence-bundle.js" defer)
script(src="../Dist/npm.regenerator-runtime-bundle.js" defer)
script(src="../Dist/npm.prosemirror-view-bundle.js" defer)
script(src="../Dist/npm.prosemirror-transform-bundle.js" defer)
script(src="../Dist/npm.prosemirror-state-bundle.js" defer)
script(src="../Dist/npm.prosemirror-schema-list-bundle.js" defer)
script(src="../Dist/npm.prosemirror-model-bundle.js" defer)
script(src="../Dist/npm.prosemirror-keymap-bundle.js" defer)
script(src="../Dist/npm.prosemirror-history-bundle.js" defer)
script(src="../Dist/npm.prosemirror-gapcursor-bundle.js" defer)
script(src="../Dist/npm.prosemirror-dropcursor-bundle.js" defer)
script(src="../Dist/npm.prosemirror-commands-bundle.js" defer)
script(src="../Dist/npm.orderedmap-bundle.js" defer)
script(src="../Dist/npm.nanoid-bundle.js" defer)
script(src="../Dist/appDemo-bundle.js" defer)
